@import '~/styles/vars.css';

.inputField {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: inline-block;
  width: 500px;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  border: 0.07rem solid var(--border-basic);
  box-shadow: 0.2rem 0.2rem 0.3rem 0rem #ececec;
}

.buttonToAdd {
  margin-left: 1rem;
}
