.button {
  box-shadow: 0.2rem 0.2rem 0.3rem 0rem #ececec;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  border: none;
  color: white;
  color:  yellow;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
  box-shadow: 0.2rem 0.2rem 0.5rem 0rem #dedede;
}